# This file can be used to create a more performant Streamlit deployment.
# Uncomment the below line and make sure the requirements file is correct
# Then run: pip install -r requirements.txt

streamlit>=1.28.0
spacy>=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.1/en_core_web_sm-3.8.1-py3-none-any.whl
pdfplumber>=0.11.0
python-docx>=1.0.0
nltk>=3.8.0
plotly>=5.15.0
pandas>=2.0.0
numpy>=1.23.0
